<div style="margin-bottom: 35px">
<h2 style="margin-top: 0px; color:#4C4C4C;">Helpfull Links</h2>
<ul id="resume-helpers">
		<li><%= link_to "Resume Example", "#", :popup => true -%></li>
		<li><%= link_to "Cover Letter Example", "#", :popup => true -%></li>
		<li><%= link_to "Military-to-Civilian Skills Translator", "http://online.onetcenter.org/crosswalk", :popup => true -%></li>
</ul>
</div>

<style>
		#resume-helpers {
				font-weight: bold;
		}

		#resume-helpers li {
				margin-bottom: 5px;
				list-style-image: url("/images/icns/aesthetica/16x16/info.png");
				list-style-position: inside;
				vertical-align:top;
		}

		#resume-helpers li a {
						vertical-align: top;
						text-decoration: none;
		}
</style>