<div id="book-sponsors"  style="width:300px; margin-top:12px; padding-bottom:15px;">

  <div style="text-align: center; padding-top:10px;">
    <h2 style="margin:0px; padding:0px;"><%= link_to "Meet our Book Sponsors", welcome_path, :style=>"color:#FFF; text-decoration: none;" %></h2>
  </div>
  <div style="border:1px solid #555; background:#FFF; color:#000; font-weight:bold; font-size:120%; padding:5px 0px 10px 10px; margin:15px 35px 0px 35px;">
    <ul style="font-size:90%; line-height:2em; list-style-type:disc; list-style-position:inside;">
      <li>Lockheed</li>
      <li>Boeing</li>
      <li>Northon Grupman</li>
    </ul>
  </div>
  &nbsp;

</div>
