<div style="margin-top: 20px">
  <%= link_to "http://www.corporategray.com/cgo/cgmediakit.pdf", :style => "color: blue" do %>
      <div style="width: 280px; height: 250px">
        <%= image_tag "CGS_book_cover_2013.png", :style => "border: 1px solid #4c4c4c; float:left;  height: 150px"  %>
        <div style="padding-top: 15px ; margin-left: 110px; font-size: 1.1em; font-weight: bold">
          See the all-inclusive print, job fairs, and online military recruitment services included in the Corporate Gray Book Sponsor Package!
        </div>
      </div>
  <% end %>
</div>
