<div class="well" id="linkedin-pair-well" >
  <h2 style="margin-top:0px">Enhance Your Searches</h2>
  <p style="color:#4c4c4c; line-height: 1.7em; letter-spacing: 1px;">
    You can enhance your job search experience by authorizing CGO to access your linkedIn profile.<br/>
    We will show you who, &mdash; among your connections, work at the companies you research for jobs.
  </p>
  <br/>
  <div style="text-align: center; ">
    <a id="auth" href='/auth/linked_in' class="btn btn-primary" style="text-decoration:none !important;">Authorize LinkedIn Access</a>
    <p id="auth-linkedin-success" style="display: none; background:#67E667; color:#104810; padding:6px; border-radius:4px;">Success, Your account is now paired with LinkedIn</p>
  </div>
</div>
