<div style="text-align: center; background: whitesmoke; border: 2px solid black; padding: 1em;">
  <h2 style="margin-top:0; color: #BD0000;">Take Advantage <br/> of our Multi Job Fair Discount</h2>
  <p>Download this <%= link_to "form", "http://www.corporategray.com/cgo/CGO_multi_jobfair_contract.xlsx" %> for more information</p>
</div>
