<% content_for :page_title do %>
Welcome to Corporate Gray Online
<% end %>

<p><b>Thank you for registering on Corporate Gray Online</b></p><br/>
<p>You can now login to access member-only services.
</p>
<br/>

<p>The Corporate Gray Online Team</p>
