<table style="width:300px; margin-top: 20px;" cellpadding="2">
		<tr>
    <td>
      <%= link_to image_tag("ads/dia_ad_144x100.jpg"), "http://www.dia.mil", :class => "popup" -%>
    </td>

    <td style="text-align:right">
      <%= link_to image_tag("ads/dcma_ad_144x100.jpg"), "http://www.dcma.mil", :class => "popup" -%>
    </td>
		</tr>
</table>
