<% content_for :page_title do %>
  Accounts Linked
<% end %>

<div style="padding: 0.5em;">
<p class="gray-text">
  Your CGO account now has accees to your LinkedIn profile. You can now use your 
  employemnt information in LinkedIn to populate you CGO account and view who 
  among your connections are working (or worked) for the companies your apply to. 
</p>
<br/>
<p class="gray-text">
  You can go to your <%= link_to "dashboard", applicants_path %> or <%= link_to "search for jobs", search_jobs_path %>
</p>
</div>

