<div>
  <div id=close-handle onclick="auth_modal.close()">X</div>
  <div>
    <h2 style="margin-top:0; margin-bottom: 0.75em;">Add LinkedIn To Your Account</h2>
    <p style="line-height:1.8em;">Add a social profile to have a simplified login into
    Corporate Gray Online, make your job search more effective, 
    or share your job search process:</p>

    <div style="text-align: center; margin-top: 30px;">
      <%= link_to image_tag("linkedin.png"), "/auth/linked_in", :style => "outline:0" %>
    </div>

  </div>
</div>
