<% content_for :page_title do %>
  New Recruiter Registration
<% end %>

<% content_for :page_header_links do %>
  <%= link_to "View All", employer_recruiters_path(current_user.employer.id) %>
<% end %>

<%= error_messages_for @recruiter, @address %>


<% error_handling_form_for @recruiter,
  :url => employer_recruiters_path(:employer_id => current_user.employer.id),
  :html => {:id => "recruiterform"} do |f| %>

  <%= render :partial => "form", :object => f -%>

  <div class="button-bar">
    <a class="button" href="#" onclick="$('recruiterform').submit(); return false;"><span>save</span></a>
    <div>or <%= link_to "Cancel", employer_recruiters_path(:employer_id => current_user.employer.id), :class=>"cancel"%></div>
  </div>

<% end %>
