<div style="height:1px"></div>
<div class="round-corners light-highlight" style="margin-top: 20px">
			<div style="margin-left: 5px; padding: 5px">
				You currently don't have resume search privileges.  For a <b>FREE</b> demo or to order service,
				please contact <a href="mailto:sales@corporategray.com">sales@CorporateGray.com</a> or call (703) 690-6381.
			</div>
</div>
