tmp/*
log/*
coverage/*
solr/*
debug.log
db/development_structure.sql
nbproject
vendor/rails/*
id_rsa-gsg-keypair
.DS_Store
config/backgroundrb.yml
public/system
paperclip
*.rails2
.gitkeep
Rakefile2
.rbenv-version
public/CGnewsletter.html
