
<% content_for :title_tag do %>
  Corporate Gray Book Sponsors
<% end %>



<style>
  #sponsor_list td {
    padding-left: 2px;
    border-bottom: 1px dotted #CCC;
    padding-bottom: 5px;
    padding-top: 5px;
  }
</style>


<table width="98%" style="margin-bottom: 40px;">
	<tr>
		<td valign="top">
			<div style="text-align: center; margin-bottom: 20px" ><h2>2009-10 Corporate Gray Series Book Sponsors</h2></div>

<table id="sponsor_list" style="" width="100%" cellpadding="2" cellspacing="2">

<!--Table Sub-Headings-->
<tr style="color:#FFF; " bgcolor="#BD0000">
        <td style="padding-top: 5px; padding-bottom:5px;" width="65%">Company</td>
        <td style="padding-top: 5px; padding-bottom:5px;" width="20%">Email Address</td>
        <td style="padding-top: 5px; padding-bottom:5px;" width="15%">Fax Number</td>
</tr>

<tr><td><a class="external" href="http://www.accenture.com/military">Accenture</a></td><td>None</td><td>None</td></tr>
<tr><td>Advanced Resource Technologies Inc.</td><td><a href="mailto:recruiter@team-arti.com">recruiter@team-arti.com</a></td><td>P: 703-682-4755, F: 703-682-4823</td></tr>
<tr><td><a class="external" href="http://www.allstateagent.com ">Allstate Insurance</a></td><td>None</td><td>P: 877-711-1006</td></tr>
<tr><td><a class="external" href="http://www.securityprograms.com">American Security Programs, Inc.</a></td><td>None</td><td>P: 877-834-8905, F: 703-435-8916</td></tr>
<tr><td><a class="external" href="http://www.jhuapl.edu">Applied Physics Laboratory</a></td><td>None</td><td>P: 240-228-5000</td></tr>
<tr><td>APS-ARTI, LLC AAJV  ()</td><td><a href="mailto:aajvcareers@aajv.com">aajvcareers@aajv.com</a></td><td>P: 703-682-4800, F: 703-682-4824</td></tr>
<tr><td><a class="external" href="http://www.aramark.com">ARAMARK</a></td><td>None</td><td>None</td></tr>
<tr><td><a class="external" href="http://www.argonst.com">Argon ST, Inc.</a></td><td>None</td><td>None</td></tr>
<tr><td>Junior ROTC</td><td><a class="external" href="http://www.usarmyjrotc.com">Army</a>, <a class="external" href="http://www.au.af.mil/au/holmcenter/AFJROTC">Air Force</a>, <a class="external" href="http://www.njrotc.navy.mil">Navy</a>, <a class="external" href="http://www.mjrotc.org">Marine Corps</a></td><td>None</td></tr>
<tr><td><a class="external" href="http://www.calibresys.com ">CALIBRE</a></td><td>None</td><td>None</td></tr>
<tr><td><a class="external" href="http://medcareers@cdcr.ca.gov ">California Prison Health Care Services</a></td><td><a href="mailto:medcareers@cdcr.ca.gov">medcareers@cdcr.ca.gov</a> </td><td>P: 877-793-4473</td></tr>
<tr><td><a class="external" href="http://maile.stackpole@chenegatechnology.com ">Chenega Technology Services Corporation</a></td><td><a href="mailto:maile.stackpole@chenegatechnology.com">maile.stackpole@chenegatechnology.com</a></td><td>P: 703-822-2774, F: 703-822-2865</td></tr>
<tr><td>Chesterfield County Police Dept.</td><td><a href="mailto:policerecruit@chesterfield.gov">policerecruit@chesterfield.gov</a></td><td>P: 804-796-7169, F: 804-768-0172</td></tr>
<tr><td>Corporate Gray Online</td><td><a href="mailto:CorporateGray@aol.com">CorporateGray@aol.com</a></td><td>CorporateGray@aol.com</td></tr>
<tr><td><a class="external" href="http://www.dcscorp.com">DCS Corporation</a></td><td>None</td><td>F: 571-227-6006</td></tr>
<tr><td><a class="external" href="http://www.dia.mil">Defense Intelligence Agency</a></td><td>None</td><td>None</td></tr>
<tr><td><a class="external" href="http://www.deloitte.com/us/careers">Deloitte link to www.deloitte.com/us/careers</a></td><td>None</td><td>None</td></tr>
<tr><td>Department of Homeland Security</td><td><a href="mailto:vets@dhs.gov">vets@dhs.gov</a></td><td>vets@dhs.gov</td></tr>
<tr><td><a class="external" href="http://www.va.gov/jobs ">Department of Veterans Affairs</a></td><td>None</td><td>None</td></tr>
<tr><td><a class="external" href="http://www.exeloncorp.com">Exelon Corporation</a></td><td>None</td><td>None</td></tr>
<tr><td>Freeport McMoRan Copper & Gold</td><td><a href="mailto:Scott_Ferrin@fmi.com">Scott_Ferrin@fmi.com</a></td><td>Scott_Ferrin@fmi.com</td></tr>
<tr><td><a class="external" href="http://www.g4s.com/usw ">G4S Wackenhut</a></td><td>None</td><td>None</td></tr>
<tr><td><a class="external" href="http://www.gdit.com/careers ">General Dynamics Information Technology</a></td><td>None</td><td>None</td></tr>
<tr><td><a class="external" href="http://jobs@dcor.state.ga.us ">Georgia Dept. of Corrections</a></td><td><a href="mailto:jobs@dcor.state.ga.us">jobs@dcor.state.ga.us</a> </td><td>P: 404-656-4730</td></tr>
<tr><td>Intelligence Consulting Enterprise Solutions</td><td><a href="mailto:info@ices-inc.net">info@ices-inc.net</a></td><td>None</td></tr>
<tr><td>Institute for Defense Analyses</td><td><a href="mailto:dwild@ida.org">dwild@ida.org</a></td><td>P: 703-845-2086</td></tr>
<tr><td>IntelligenceCareers.com</td><td><a href="mailto:customerservice@intelligencecareers.com">customerservice@intelligencecareers.com</a></td><td>P: 800-919-8284</td></tr>
<tr><td>JB&A, Inc.</td><td><a href="mailto:HR@jb-a-inc.com">HR@jb-a-inc.com</a></td><td>P: 703-399-2850, F: 703-399-2851</td></tr>
<tr><td><a class="external" href="http://debbie.leonard@kihomac.com ">KIHOMAC, Inc.</a></td><td><a href="mailto:debbie.leonard@kihomac.com">debbie.leonard@kihomac.com</a> </td><td>P: 703-960-5450, F: 877-282-8011</td></tr>
<tr><td><a class="external" href="http://Jennifer.Davis@L-3com.com ">L-3 Communications</a></td><td><a href="mailto:Jennifer.Davis@L-3com.com">Jennifer.Davis@L-3com.com</a> </td><td>703-434-4000</td></tr>
<tr><td><a class="external" href="http://www.lockheedmartin.com/careers">Lockheed Martin Corporation</a></td><td>None</td><td>None</td></tr>
<tr><td><a class="external" href="http://www.mantech.com">ManTech International</a></td><td>None</td><td>None</td></tr>
<tr><td>Military Officers Association of America</td><td><a href="mailto:Tops@moaa.org">Tops@moaa.org</a></td><td>P: 800-234-6622</td></tr>
<tr><td>Mission Essential Personnel</td><td><a href="mailto:recruiting@missionep.com">recruiting@missionep.com</a></td><td>P: 888-542-3447</td></tr>
<tr><td><a class="external" href="http://www.MPRI.com ">MPRI, a Division of L-3 Services</a></td><td>None</td><td>None</td></tr>
<tr><td><a class="external" href="http://www.NSA.gov">National Security Agency</a></td><td>None</td><td>None</td></tr>
<tr><td><a class="external" href="http://careers.northropgrumman.com ">Northrop Grumman</a></td><td>None</td><td>None</td></tr>
<tr><td><a class="external" href="http://www.nw-systems.com">NW Systems, Inc.</a></td><td>None</td><td>P: 301-583-1710, F: 301-583-1720</td></tr>
<tr><td><a class="external" href="http://www.prevailance.com">Prevailance, Inc.</a></td><td>None</td><td>P: 757-309-4572, F: 757-309-4574</td></tr>
<tr><td>Reserve Officers Association</td><td><a href="mailto:info@roa.org">info@roa.org</a></td><td>P: 202-479-2200</td></tr>
<tr><td>Reserve Enlisted Association</td><td><a href="mailto:lburnett@reaus.org">lburnett@reaus.org</a></td><td>P: 202-646-7758</td></tr>
<tr><td><a class="external" href="http://www.saic.com">SAIC</a></td><td>None</td><td>None</td></tr>
<tr><td>Spartan College of Aeronautics and Technology</td><td><a href="mailto:mail@mail.spartan.edu">mail@mail.spartan.edu</a></td><td>P: 800-331-1204, F: 918-831-5234</td></tr>
<tr><td><a class="external" href="http://www.statefarm.com/careers">State Farm Insurance</a></td><td>None</td><td>None</td></tr>
<tr><td>The George Washington University</td><td><a href="mailto:nearyou@gwu.edu">nearyou@gwu.edu</a></td><td>P: 800-564-6498, F: 703-248-6212</td></tr>
<tr><td>The Kenjya Group Inc.</td><td><a href="mailto:Kevin.Robinson@Kenjya.com">Kevin.Robinson@Kenjya.com</a></td><td>P: 410-740-4045</td></tr>
<tr><td>Triple Canopy</td><td><a href="mailto:recruiting04@TripleCanopy.com">recruiting04@TripleCanopy.com</a></td><td>recruiting04@TripleCanopy.com</td></tr>
<tr><td><a class="external" href="http://eescarne@doc.gov ">U.S. Department of Commerce</a></td><td><a href="mailto:eescarne@doc.gov">eescarne@doc.gov</a> </td><td>P: 202-482-8241, F: 202-482-2898</td></tr>
<tr><td>UN Employment Information & Assistance</td><td><a href="mailto:EmploymentUN@state.gov">EmploymentUN@state.gov</a></td><td>EmploymentUN@state.gov</td></tr>
<tr><td><a class="external" href="http://www.unisys.com/careers ">Unisys Corporation</a></td><td>None</td><td>F: 703-439-3246</td></tr>
<tr><td><a class="external" href="http://www.usba.com">USBA</a></td><td>None</td><td>P: 800-368-7921, F: 800-368-7030</td></tr>
<tr><td><a class="external" href="http://www.verizonbusiness.jobs">Verizon Business</a></td><td>None</td><td>None</td></tr>
<tr><td>Versar</td><td><a href="mailto:hr@versar.com">hr@versar.com</a></td><td>P: 703-750-3000, F: 703-642-6898</td></tr>
<tr><td><a class="external" href="http://Jim.Bonynge@ngc.com ">Vinnell Arabia</a></td><td><a href="mailto:Jim.Bonynge@ngc.com">Jim.Bonynge@ngc.com</a> </td><td>F: 703-713-4845</td></tr>
<tr><td>Volt Military Heroes Program link to www.voltmilitary.com</td><td><a href="mailto:info@voltmilitary.com">info@voltmilitary.com</a></td><td>P: 425-702-9000, F: 425-503-0228</td></tr>
<tr><td><a class="external" href="http://www.vsecorp.com">VSE Corporation</a></td><td>None</td><td>None</td></tr>
<tr><td>Your Community PhoneBook</td><td><a href="mailto:sales.jobs@yourcb.com">sales.jobs@yourcb.com</a></td><td>P: 888-785-4487</td></tr>



</table>

</td></tr></table>
