<% content_for :page_title do %>
		Career Advice
<% end %>

<% content_for :title_tag do %>
  Military Transitioning And Career Advice for Job Seekers
<% end %>

<% content_for :meta_description do %>
  We have compiled a list of job seeker resources and information that you might find useful.
<% end %>

<div class="static">
		<p class="gray-text">We have compiled a list of job seeker resources and information that you might find useful. Please review the links below:</p>
		<br/>
		<ul>
				<li><a href="/static/job_search_steps">Job Search Steps</a><div>A few key elements worth mentioning in a successful job search</div></li>
				<li><a href="/static/career_training">Career Training</a><div>Training and Education sponsors</div></li>
				<li><a href="/static/security_clearances">Security Clearances</a><div>Corporate Gray's FAQ on security clearance</div></li>
				<li><a href="http://corporategray.salary.com" target="_blank">Salary Calculator</a><div>Calculate your salary according to location and job title </div></li>
				<li><a href="http://online.onetcenter.org/crosswalk" target="_blank">Skills Translator</a><div>Enter a code or title from the CIP, MOC, RAPIDS, DOT, or SOC to find matching O*NET-SOC occupations.</div></li>
				<li><a href="http://www.msccn.org" target="_blank">Jobs for Spouses</a><div>Sound advice for a mobile military spouse</div></li>
				<li><a href="/static/franchise">Franchising</a><div>Have you ever considered working for yourself? Learn about franchises</div></li>
                <li><a href="http://www.futureachievement.com/images/CharacterAdvantage-RMastin.pdf">The Character Advantage</a></li>
		</ul>
		<br/>
</div>

<% content_for :right do %>

		<%= render :partial => "/shared/featured_employer_skyscraper.html.erb" %>

<% end %>
