<% content_for :page_title do %>
		<h1>Informational/Networking Interviews</h1>
<% end %>

<% content_for :title_tag do %>
		Informational/Networking Interviews
<% end %>


<% content_for :meta_description do %>
  Initiating and participating in informational interviews is one of the most critical aspects of the job search processi; becoming active in associations is an excellent way to ramp-up your informational interviewing opportunities.
<% end %>

<div class="static">

		<p>Initiating and participating in informational interviews is one of the most critical aspects of the job search process. It is important for many reasons, including:</p>

		<ul>
				<li>Learning about a job or career in a given industry area</li>

				<li>Revealing to your friends and colleagues that you are seeking employment</li>

				<li>Gaining experience in explaining the skills and knowedge you bring to the table</li>

				<li>Becoming more knowledgeable about the types of jobs in the marketplace, skill and experience requirements, and compensation (salary + fringe benefits)</li>

				<li>Gaining insight into the players in the civilian workworld, both at the company level and  the individual level</li>

				<li>Having the opportunity to show your resume to others and to solicit feedback</li>
		</ul>

		<p>Becoming active in associations is an excellent way to ramp-up your informational interviewing opportunities. Use Google.com to search for appropriate associations based on your career interests.</p>
</div>
