<%= content_for :title_tag do %>
	Contact Corporate Gray
<% end %>

<%= content_for :meta_keywords do %>
	military hiring, military transition, military recruiting, spouse employment, military resume, transition assistance, transition advice, recruiting services, contact us
<% end %>

<%= content_for :meta_description do %>
	Companies interested in recruiting military service members are welcome to contact Corporate Gray by phone or email.
<% end %>

<p>If you would like more information about the Corporate Gray services, please contact us at:</p>

<div class="static" style="height: 500px;">
  <ul>
    <li><b>Phone:</b> (703) 690-6381</li>
    <li><b>Email:</b> <a href="mailto:Carl@CorporateGray.com">Carl@CorporateGray.com</a></li>
  </ul>
</div>
