<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Untitled document</title>
</head>
<body>
<table style="margin-left: auto; margin-right: auto;" bgcolor="#996600" border="0" cellpadding="0" cellspacing="1" width="580">
<tbody>
<tr>
<td>
      
<table bgcolor="#efdfb0" border="0" cellpadding="5" cellspacing="0" width="578">
<tbody>
<tr align="right" bgcolor="#660000">
<td colspan="3"><img src="http://www.corporategray.com/cgo/arrow42.gif" align="absmiddle" width="66" height="17" /><font color="#ffffcc" face="Verdana, Arial, Helvetica, sans-serif" size="1">August 
            2011</font></td>
</tr>
<tr>
<td align="right" bgcolor="#660000" width="50"><img src="http://www.corporategray.com/cgo/bullet42.gif" width="29" height="17" /></td>
<td valign="top" width="153"><img src="http://www.corporategray.com/cgo/topphoto42.jpg" width="118" height="157" /></td>
<td width="385"><font color="#000066" face="Verdana, Arial, Helvetica, sans-serif" size="5">Corporate Gray eNewsletter<br />
            </font><br />
    </td>
</tr>
</tbody>
</table>
<table bgcolor="#efdfb0" border="0" cellpadding="1" cellspacing="10" width="578">
<tbody>
<tr>
<td><img src="http://www.corporategray.com/cgo/clear42.gif" width="20" height="8" /><strong><a href="#Corporate Gray Job Fairs">Corporate Gray Job Fairs</a>&nbsp;&nbsp; <a href="#Military-Friendly Employers">Military-Friendly Employers</a>&nbsp;&nbsp;&nbsp;<a href="#Corporate Gray Online">CorporateGray Online</a></strong><br /></td>
</tr>
<tr>
<td bgcolor="#996600">
<table bgcolor="#ffffcc" border="0" cellpadding="7" cellspacing="0" width="100%">
<tbody>
<tr>
<td>
<p>&nbsp;</p>
<p><strong><font color="#996633" face="Times New Roman, Times, serif" size="4">"We met a couple times at your job fairs and I just wanted to say </font></strong><strong><font color="#996633" face="Times New Roman, Times, serif" size="4">thank you.&nbsp; I now have a great job because of Corporate Gray." </font></strong></p>
<p><strong><font color="#996633" face="Times New Roman, Times, serif" size="4">&nbsp;&nbsp;&nbsp; </font></strong><font color="#663300" face="Verdana, Arial, Helvetica, sans-serif" size="1">. . . Job Fair attendee</font></p>
<p><font color="#663300" face="Verdana, Arial, Helvetica, sans-serif" size="1"><br /></font></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td bgcolor="#660000"> 
            
<table border="0" cellpadding="7" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="right"><font color="#ffffff" face="Verdana, Arial, Helvetica, sans-serif" size="4"><a name="Corporate Gray Job Fairs"></a>Corporate Gray Job Fairs</font><img src="http://www.corporategray.com/cgo/bullet42.gif" align="top" width="29" height="17" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td bgcolor="#996600">
<table bgcolor="#ffffcc" border="0" cellpadding="7" cellspacing="0" width="569" height="768">
<tbody>
<tr>
<td>
<p>&nbsp;</p>
<p> <font color="#663300" size="2"> 
                  
                  <img style="float: right;" src="http://www.corporategray.com/cgo/JobFairIcon.gif" alt="Job Fair Icon" width="122" height="75" /></font>
</p>
<p><strong><em><font color="#ffffcc" face="Verdana, Arial, Helvetica, sans-serif" size="2"><br /></font></em></strong></p>
<strong>
<a href="http://www.brazencareerist.com/network-roulette/amazon-online-career-fair-aug-31" target="_blank">Amazon's Virtual Military Career Fair * August 31st</a></strong><br /><br />Corporate
 Gray is hosting a Virtual Military Career for Amazon.com, a Fortune 500
 company based in Seattle and the global leader in e-commerce.&nbsp; Amazon 
is actively seeking military leaders to fill their Operations Manager, 
Area Manager, and Facilities Area Manager positions.&nbsp; If you are leaving
 the service as an Officer&nbsp; (O-1 to O-4) or a degreed Non Commissioned 
Officer (E-5 to E-8) and would like to participate in this event, please
 register via <a href="http://www.brazencareerist.com/network-roulette/amazon-online-career-fair-aug-31">http://www.brazencareerist.com/network-roulette/amazon-online-career-fair-aug-31</a>.&nbsp; The event will be held on Wednesday, August 31 from&nbsp; 9 am to 11 am (PST) / 2 pm to 4 pm (EST).<br /><br /><a href="http://www.corporategray.com"><strong>Springfield, Virginia * September 16</strong></a><br /><br />Attend
 the Corporate Gray Job Fair for the Military Community on September 
16th at the Waterford Reception Center in Springfield, Virginia. This 
job fair is especially for transitioning and former military across all 
ranks and branches of service; active duty, National Guard, and Reserve.
 Job fair hours are 10 am to 2 pm with free, career-related seminars 
starting at 8 am and 9 am.&nbsp; Meet face-to-face with over 50 
military-friendly employers. There will be a wide range of companies, 
with opportunities in a myriad of career fields. Be sure to register in 
advance through Corporate Gray Online to receive the Employer Directory 
the weekend before the job fair.<br /><br /><a href="http://www.corporategray.com"><strong>Norfolk, Virginia * October 14</strong></a><br /><br />Attend
 the Corporate Gray Job Fair for the Military Community on October 14th 
at the Hilton Norfolk Airport Hotel.&nbsp; This job fair is especially for 
transitioning and former military from all ranks and branches of 
service; active duty, National Guard, and Reseserve. Job fair hours are 
10 am to 2 pm with free, career-related seminars starting at 8 am and 9 
am.&nbsp; Meet face-to-face with scores of military-friendly employers 
wanting to meet you, the men and women who have served in our Armed 
Forces. There will be a wide range of companies, with opportunities in a
 myriad of career fields. Be sure to register in advance through 
Corporate Gray Online to receive the Employer Directory the weekend 
before the fair.<br /><br /><a href="http://www.corporategray.com"><strong>Springfield, Virginia * November 4</strong></a><br /><br />Attend
 the Corporate Gray "Security Clearance" Job Fair on November 4th at the
 Waterford Reception Center in Springfield, Virginia.&nbsp; Job fair hours 
are 10 am to 2 pm with free, career-related seminars starting at 8 am 
and 9 am.&nbsp; This job fair is exclusively for job seekers, military or 
civilian, with a Secret or higher security clearance. Meet face-to-face 
with companies that collectively have hundreds of "cleared" job 
opportunities. Be sure to register in advance through Corporate Gray 
Online to receive the Employer Directory the weekend before the job 
fair.<br /><br /><strong>Pre-registration:</strong> Pre-registration for the Corporate Gray Job Fairs is free and encouraged. Visit <a href="http://www.CorporateGray.com">www.CorporateGray.com</a>
 and login using your Username: {Username} and password.&nbsp; If you don't 
remember your password, click the "I forgot my password" link and a new 
one will be sent to your email address on file. By registering in 
advance and uploading your resume, you will make your qualifications 
accessible to the participating companies and receive the Employer 
Directory the weekend before the job fair.<br /><br /><strong>Corporate Gray's Virtual Military Career Fairs</strong><br /><br />Starting
 this Fall, we will be hosting Virtual Military Career Fair using Brazen
 Technology's state-of-the-art virtual software. These monthly events 
will connect you with employers in a variety of industries.&nbsp; The first 
monthly Virtual Military Career Fair will be announed in the September 
2011 e-newsletter.&nbsp; Stay tuned to this efficient and free method of 
connecting with employers nationwide -- all from the convenience of your
 home or office.<br />
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td bgcolor="#660000">
<table border="0" cellpadding="7" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="right"><font color="#ffffff" face="Verdana, Arial, Helvetica, sans-serif" size="4"><a name="Military-Friendly Employers"></a>Military-Friendly Employer<strong>s</strong></font></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td bgcolor="#996600">
<table style="width: 572px; height: 1568px; background-color: #ffffcc;" align="right" border="0" cellpadding="7" cellspacing="0">
<tbody>
<tr>
<td><a href="http://aerotek.com"><strong>Aerotek</strong></a><br /><br />Aerotek
 is always looking for the right people to join our team as internal 
employees. We are seeking talented, motivated individuals who want to 
begin an exciting and rewarding career in a sales-oriented company. Your
 career at Aerotek can take many different paths, and provide you with 
the professional skills to help advance you in your career. Whether 
you&rsquo;re looking for recruiting and sales jobs, customer service jobs, or 
corporate careers, there are a wide range of opportunities available at 
Aerotek&rsquo;s more than 150 office locations. Visit <a href="http://www.aerotekcareers.com">www.aerotekcareers.com</a> to learn how you can become a part of our team.<br /><br /><a href="http://www.jhuapl.edu"><strong>Applied Physics Laboratory</strong></a><br /><br />The
 Applied Physics Laboratory (APL) is a not-for-profit center for 
engineering, research, and development. Located north of Washington, DC,
 APL is a division of one of the world's premier research universities, 
The Johns Hopkins University (JHU). The Laboratory has been a major 
asset to the nation since it was organized to develop a critical World 
War II technology in 1942. We recruit and hire the best and brightest, 
and 68% of our recruits are engineers and scientists. We work on more 
than 600 programs that protect our homeland and advance the nation's 
vision in research and space science, at an annual funding level of 
about $980 million. To learn about our employment opportunities, visit <a href="http://www.jhuapl.edu" target="_blank">www.jhuapl.edu</a>.<br /><br /><a href="http://www.aramark.com/careers" target="_blank"><strong>ARAMARK</strong></a><br /><br />ARAMARK is a global leader in professional services, providing award-winning food, hospitality,<br />facility
 management services and high-quality uniform and work apparel. 
Industries served include: Businesses, Universities, Healthcare, Parks 
and Destinations, Sports and Entertainment, Correctional Institutions, 
Convention Centers, Public Safety, Senior Living, and Cultural 
Attractions.&nbsp; To learn about our employment opportunities, visit <a href="http://www.aramark.com/careers" target="_blank">www.aramark.com/careers</a>.<br /><br /><a href="http://www.argonst.com/careers/index.htm" target="_blank"><strong>Argon ST</strong></a><br /><br />Argon
 ST, a Boeing Company, is a rapidly growing systems engineering and 
development company providing full-service C5ISR solutions to a wide 
range of customers. We offer excellent career opportunities and 
outstanding benefits to our valued employees. Core areas of competencies
 include: RF Technology, COMINT/SIGINT, Cyber Security.&nbsp; Active DoD 
security clearances are required. To learn about their employment 
opportunities, visit <a href="http://www.argonst.com/careers/index.htm" target="_blank">http://www.argonst.com/careers/index.htm</a>.<br /><br /><a href="http://www.chenegatechnology.com" target="_blank"><strong>Chenega Technology Services Corporation</strong></a><br /><br />Chenega
 Technology Services Corporation is a growing and successful Alaska 
Native Company. Our work is diverse, ranging from government contracting
 to commercial holdings. In the government sector, Chenega provides a 
variety of services to support our country, to include Information 
technology, security, logistics, intelligence &amp; military operations,
 military base support services, training, environmental management and 
light manufacturing.To learn about their employment opportunities, visit
 <a href="http://www.chenegatechnology.com/section.aspx?id=5" target="_blank">www.chenegatechnology.com/section.aspx?id=5</a>.<br /><br /><a href="http://www.colcon.com/colcon/" target="_blank"><strong>Collins Consulting</strong></a><br /><br />Collins
 Consulting, Inc., a certified Service-Disabled Veteran Owned Small 
Business, is a proven IT systems integrator and strategic sourcing 
provider bringing together the responsiveness of a small business 
coupled with the capabilities of some of the world's largest and most 
successful Federal Systems Integrators.Our mission is to provide 
superior-quality service and hardware solutions and to provide for 
financial and personal growth for all our employees while&nbsp; ensuring 
future growth.&nbsp; To learn about our employment opportunities, visit <a href="http://www.colcon.com/colcon/" target="_blank">http://www.colcon.com/colcon/ </a>and click on the Jobs tab. <br /><br /><a href="http://www.mpri.com" target="_blank"><strong>L-3 MPRI</strong></a><br /><br />L-3
 MPRI provides complete solutions, products, and technical assistance in
 the fields of national security, security sector reform, democratic 
development and governance, institutional capacity building, rule of 
law, peace and stability operations, law enforcement, leadership development,
 and training simulations. Since 1987, MPRI has assisted customers in 
the United States and more than 60 countries around the world. Our 
programs are staffed with more than 5,000 highly skilled men and women 
whose professionalism, ethics, integrity, and commitment to quality 
ensure mission accomplishment. To submit your personal information, 
visit <a href="http://www.mpri.com" target="_blank">www.mpri.com</a>; click on the Careers/Job Listings link; and complete the Individual Information Form.<br /><br /><a href="http://www.mcri.com/careers/index.htm"><strong>MCR</strong></a><br /><br />MCR,
 LLC, a premier provider of Integrated Program Management services to 
the federal government has delivered strategic planning, cost and 
schedule analysis, acquisition management, and program assessment 
solutions to help hundreds of government and commercial clients 
successfully manage their programs.To learn about our employment 
opportunities, visit <a href="http://www.mcri.com/careers/index.htm" target="_blank">www.mcri.com/careers/index.htm</a>.
<p><strong>-------------------------------------------------------------------------------------------------------------<br /><font color="#663300" size="2"><img style="float: right;" src="http://www.corporategray.com/cgo/CapitolBldg.jpg" alt="Capitol Building" width="136" height="83" /></font><br /><strong>&nbsp;</strong>FEDERAL EMPLOYMENT</strong><br /><br />USA Jobs ("Feds Hire Vets"): <a href="http://www.usajobs.gov/veterans.asp" target="_blank">http://www.usajobs.gov/veterans.asp</a><br /><br />Federal Agency Program Managers for Veteran Hiring: <a href="http://www.fedshirevets.gov/AgencyDirectory/index.aspx" target="_blank">http://www.fedshirevets.gov/AgencyDirectory/index.aspx</a><br /><br /><a href="http://www.dia.mil/careers/" target="_blank"><strong>Defense Intelligence Agency</strong></a><br /><br />The
 Defense Intelligence Agency is a Department of Defense combat support 
agency and an important member of the United States Intelligence 
Community. DIA is a major producer and manager of foreign military 
intelligence. They provide military intelligence to warfighters, defense
 policymakers, and force planners in support of U.S. military planning 
and operations and weapon systems acquisition. DIA has immediate 
openings for Intelligence Officers, Analysts, and related occupational 
areas. To view their career opportunities, visit <a href="http://www.dia.mil/careers/" target="_blank">www.dia.mil/careers/</a>.<br /><br /><a href="http://www.NSA.gov/Careers"><strong>National Security Agency</strong></a><br /><br />The
 National Security Agency (NSA) has exciting opportunities available for
 professionals in Computer Science, Computer/Electrical Engineering, 
Mathematics, Foreign Language, Intelligence Analysis, Cryptanalysis, 
Signals Analysis, and Business. At NSA, you can use your high-tech 
intelligence to advance research and solve challenges not found in the 
private sector. Visit <a href="http://www.NSA.gov/Careers" target="blank">www.NSA.gov/Careers</a> for more information and to apply online.<br /><br /><a href="http://www.jobs.nih.gov/" target="_blank"><strong>National Institutes of Health</strong></a><br /><br />NIH
 is the nation&rsquo;s medical research agency&mdash;supporting scientific studies 
that turn discovery into health. Our mission is to seek fundamental 
knowledge about the nature and behavior of living systems and the 
application of that knowledge to enhance health, lengthen life, and 
reduce the burdens of illness and disability. To learn about our 
employment opportunities, visit <a href="http://www.jobs.nih.gov/" target="_blank">www.jobs.nih.gov/</a>. <br /><br /><a href="http://www.va.gov/jobs" target="_blank"><strong>Department of Veterans Affairs</strong></a><br /><br />Everyday
 at VA we see the sacrifices that Veterans have made to defend the 
principles that make this country great. VA is trusted with the 
responsibility to honor the service of all Veterans and deliver on the 
promises of a grateful Nation. To learn about our employment 
opportunities, visit <a href="http://www.va.gov/jobs" target="_blank">www.va.gov/jobs</a>.</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td bgcolor="#660000">
<table border="0" cellpadding="7" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="right"><font color="#ffffff" face="Verdana, Arial, Helvetica, sans-serif" size="4"><a name="Corporate Gray Online"></a>Corporate Gray Online</font><img src="http://www.corporategray.com/cgo/bullet42.gif" target="blank" align="top" width="29" height="17" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td bgcolor="#996600">
<table style="width: 100%; background-color: #ffffcc;" align="right" border="0" cellpadding="7" cellspacing="0">
<tbody>
<tr>
<td style="text-align: center;">
<p> <font color="#663300" size="2"> 
                  
                  <img style="float: right;" src="http://www.corporategray.com/cgo/CorpGrayLogo.jpg" alt="looping shapes" width="138" height="78" /></font>
</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><font color="#ffffcc" face="Verdana, Arial, sans-serif" size="2"><strong>&nbsp;</strong></font>To login, visit <a href="http://www.CorporateGray.com" target="_blank"><strong>www.CorporateGray.com</strong></a>
 and use Username: {Username} and your password.&nbsp; If you don't remember 
your password, you can generate a new one.<br /><br />You have not yet posted a resume to this account. To do so, click the "Post Resume" link on 
the menu bar and then upload your resume in any Microsoft Word format.While logged into your account, be sure to check the 
accuracy of the data fields.<br /><br />To
 search for job openings, click the "Search Jobs" link and then apply to
 those opportunities best matching your skills and interests. You will 
also find information on other resource links.<br /><br />If you want us to close your account, send email to <a href="mailto:CorporateGray1@gmail.com" target="_blank">CorporateGray1@gmail.com</a> with Subject: Deactivate My Account.<br /><br />Please
 feel free to forward this newsletter to other military veterans seeking
 civilian employment.&nbsp; Good luck in your job search!<br /><br />Competitive Edge Services Inc., Fairfax Station, VA 22039. All rights reserved.</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!-- Outer Table - creates 1px border for template -->
<table style="margin-left: auto; margin-right: auto;" bgcolor="#996600" border="0" cellpadding="0" cellspacing="1" width="580">
<tbody>
<tr>
<td>
<!-- Upper Table for Company Name, Upper Photo, and Links -->
      
<table bgcolor="#efdfb0" border="0" cellpadding="5" cellspacing="0" width="599" height="200">
<tbody>
<tr align="right" bgcolor="#660000">
<td colspan="3"><img src="http://www.corporategray.com/cgo/arrow42.gif" align="absmiddle" width="66" height="17" /><span style="font-size: medium;"><font color="#ffffcc" face="Verdana, Arial, Helvetica, sans-serif" size="1">August 
            2011</font></span></td>
</tr>
<tr>
<td align="right" bgcolor="#660000" width="50"><img src="http://www.corporategray.com/cgo/bullet42.gif" width="29" height="17" /></td>
<td valign="top" width="153"><img src="http://www.corporategray.com/cgo/topphoto42.jpg" width="118" height="157" /></td>
<td width="385"><font color="#000066" face="Verdana, Arial, Helvetica, sans-serif" size="5"><span style="font-size: large;">Corporate Gray eNewsletter</span><br />
            </font><br />
    </td>
</tr>
</tbody>
</table>
<table bgcolor="#efdfb0" border="0" cellpadding="1" cellspacing="10" width="578">
<tbody>
<tr>
<td><img src="http://www.corporategray.com/cgo/clear42.gif" width="20" height="8" /><span style="font-size: small; font-family: times new roman,times;"><strong><span style="font-size: medium;"><span style="font-size: small;"><a href="#Corporate Gray Job Fairs">Corporate Gray Job Fairs</a>&nbsp;&nbsp; <a href="#Military-Friendly Employers">Military-Friendly Employers</a>&nbsp;&nbsp;&nbsp;<a href="#Corporate Gray Online">CorporateGray Online</a></span></span></strong></span><br /></td>
</tr>
<tr>
<td bgcolor="#996600">
<table bgcolor="#ffffcc" border="0" cellpadding="7" cellspacing="0" width="100%">
<tbody>
<tr>
<td>
<p>&nbsp;</p>
<p><span style="font-family: times new roman,times; font-size: small;"><strong><font color="#996633" face="Times New Roman, Times, serif" size="4">"We met a couple times at your job fairs and I just wanted to say </font></strong></span><span style="font-family: times new roman,times;"><strong><font color="#996633" face="Times New Roman, Times, serif" size="4">thank you.&nbsp; I now have a great job because of Corporate Gray." </font></strong></span></p>
<p><span style="font-family: arial,helvetica,sans-serif; font-size: small;"><strong><font color="#996633" face="Times New Roman, Times, serif" size="4">&nbsp;&nbsp;&nbsp; </font></strong><font color="#663300" face="Verdana, Arial, Helvetica, sans-serif" size="1">. . . Job Fair attendee</font></span></p>
<p><span style="font-size: small;"><font color="#663300" face="Verdana, Arial, Helvetica, sans-serif" size="1"><br /></font></span></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td bgcolor="#660000"> 
            
<table border="0" cellpadding="7" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="right"><font color="#ffffff" face="Verdana, Arial, Helvetica, sans-serif" size="4"><a name="Corporate Gray Job Fairs"></a>Corporate Gray Job Fairs</font><img src="http://www.corporategray.com/cgo/bullet42.gif" align="top" width="29" height="17" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td bgcolor="#996600">
<table bgcolor="#ffffcc" border="0" cellpadding="7" cellspacing="0" width="569" height="768">
<tbody>
<tr>
<td>
<p>
				<!-- Area 1 Content  -->
</p>
<p> <font color="#663300" size="2"> 
                  <!-- Area 2 Content -->
                  <img style="float: right;" src="http://www.corporategray.com/cgo/JobFairIcon.gif" alt="Job Fair Icon" width="122" height="75" /></font>
</p>
<p><span style="font-size: small; font-family: times new roman,times;"><strong><em><font color="#ffffcc" face="Verdana, Arial, Helvetica, sans-serif" size="2"><br /></font></em></strong></span></p>
<span style="font-size: small; font-family: times new roman,times; background-color: #ffffa3;"><strong><span style="background-color: #ffffff;">
<a href="http://www.brazencareerist.com/network-roulette/amazon-online-career-fair-aug-31" target="_blank">Amazon's Virtual Military Career Fair * August 31st</a></span></strong></span><br /><br /><span style="font-size: small; font-family: times new roman,times;">Corporate Gray is hosting a Virtual Military Career for Amazon.com, a Fortune 500 company based in Seattle and the global leader in e-commerce.&nbsp; Amazon is actively seeking military leaders to fill their Operations Manager, Area Manager, and Facilities Area Manager positions.&nbsp; If you are leaving the service as an Officer&nbsp; (O-1 to O-4) or a degreed Non Commissioned Officer (E-5 to E-8) and would like to participate in this event, please register via <a href="http://www.brazencareerist.com/network-roulette/amazon-online-career-fair-aug-31">http://www.brazencareerist.com/network-roulette/amazon-online-career-fair-aug-31</a>.&nbsp; The event will be held on Wednesday, August 31 from&nbsp; 9 am to 11 am (PST) / 2 pm to 4 pm (EST).</span><br /><br /><a href="http://www.corporategray.com"><strong><span style="font-size: small; font-family: times new roman,times;">Springfield, Virginia * September 16</span></strong></a><br /><br /><span style="font-size: small; font-family: times new roman,times;">Attend the Corporate Gray Job Fair for the Military Community on September 16th at the Waterford Reception Center in Springfield, Virginia. This job fair is especially for transitioning and former military across all ranks and branches of service; active duty, National Guard, and Reserve. Job fair hours are 10 am to 2 pm with free, career-related seminars starting at 8 am and 9 am.&nbsp; Meet face-to-face with over 50 military-friendly employers. There will be a wide range of companies, with opportunities in a myriad of career fields. Be sure to register in advance through Corporate Gray Online to receive the Employer Directory the weekend before the job fair.</span><br /><br /><a href="http://www.corporategray.com"><strong><span style="font-size: small; font-family: times new roman,times;">Norfolk, Virginia * October 14</span></strong></a><br /><br /><span style="font-size: small; font-family: times new roman,times;">Attend the Corporate Gray Job Fair for the Military Community on October 14th at the Hilton Norfolk Airport Hotel.&nbsp; This job fair is especially for transitioning and former military from all ranks and branches of service; active duty, National Guard, and Reseserve. Job fair hours are 10 am to 2 pm with free, career-related seminars starting at 8 am and 9 am.&nbsp; Meet face-to-face with scores of military-friendly employers wanting to meet you, the men and women who have served in our Armed Forces. There will be a wide range of companies, with opportunities in a myriad of career fields. Be sure to register in advance through Corporate Gray Online to receive the Employer Directory the weekend before the fair.</span><br /><br /><a href="http://www.corporategray.com"><strong><span style="font-size: small; font-family: times new roman,times;">Springfield, Virginia * November 4</span></strong></a><br /><br /><span style="font-size: small; font-family: times new roman,times;">Attend the Corporate Gray "Security Clearance" Job Fair on November 4th at the Waterford Reception Center in Springfield, Virginia.&nbsp; Job fair hours are 10 am to 2 pm with free, career-related seminars starting at 8 am and 9 am.&nbsp; This job fair is exclusively for job seekers, military or civilian, with a Secret or higher security clearance. Meet face-to-face with companies that collectively have hundreds of "cleared" job opportunities. Be sure to register in advance through Corporate Gray Online to receive the Employer Directory the weekend before the job fair.</span><br /><br /><span style="font-size: small; font-family: times new roman,times;"><strong>Pre-registration:</strong> Pre-registration for the Corporate Gray Job Fairs is free and encouraged. Visit <a href="http://www.CorporateGray.com">www.CorporateGray.com</a> and login using your Username: {Username} and password.&nbsp; If you don't remember your password, click the "I forgot my password" link and a new one will be sent to your email address on file. By registering in advance and uploading your resume, you will make your qualifications accessible to the participating companies and receive the Employer Directory the weekend before the job fair.</span><br /><br /><strong><span style="font-size: small; font-family: times new roman,times;">Corporate Gray's Virtual Military Career Fairs</span></strong><br /><br /><span style="font-size: small; font-family: times new roman,times;">Starting this Fall, we will be hosting Virtual Military Career Fair using Brazen Technology's state-of-the-art virtual software. These monthly events will connect you with employers in a variety of industries.&nbsp; The first monthly Virtual Military Career Fair will be announed in the September 2011 e-newsletter.&nbsp; Stay tuned to this efficient and free method of connecting with employers nationwide -- all from the convenience of your home or office.</span><br />
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td bgcolor="#660000">
<table border="0" cellpadding="7" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="right"><font color="#ffffff" face="Verdana, Arial, Helvetica, sans-serif" size="4"><a name="Military-Friendly Employers"></a>Military-Friendly Employer<strong>s</strong></font></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td bgcolor="#996600">
<table style="width: 572px; height: 1568px; background-color: #ffffcc;" align="right" border="0" cellpadding="7" cellspacing="0">
<tbody>
<tr>
<td><a href="http://aerotek.com"><strong><span style="font-size: small; font-family: times new roman,times;">Aerotek</span></strong></a><br /><br /><span style="font-size: small; font-family: times new roman,times;">Aerotek is always looking for the right people to join our team as internal employees. We are seeking talented, motivated individuals who want to begin an exciting and rewarding career in a sales-oriented company. Your career at Aerotek can take many different paths, and provide you with the professional skills to help advance you in your career. Whether you&rsquo;re looking for recruiting and sales jobs, customer service jobs, or corporate careers, there are a wide range of opportunities available at Aerotek&rsquo;s more than 150 office locations. Visit <a href="http://www.aerotekcareers.com">www.aerotekcareers.com</a> to learn how you can become a part of our team.</span><br /><br /><a href="http://www.jhuapl.edu"><strong><span style="font-size: small; font-family: times new roman,times;">Applied Physics Laboratory</span></strong></a><br /><br /><span style="font-size: small; font-family: times new roman,times;">The Applied Physics Laboratory (APL) is a not-for-profit center for engineering, research, and development. Located north of Washington, DC, APL is a division of one of the world's premier research universities, The Johns Hopkins University (JHU). The Laboratory has been a major asset to the nation since it was organized to develop a critical World War II technology in 1942. We recruit and hire the best and brightest, and 68% of our recruits are engineers and scientists. We work on more than 600 programs that protect our homeland and advance the nation's vision in research and space science, at an annual funding level of about $980 million. To learn about our employment opportunities, visit <a href="http://www.jhuapl.edu" target="_blank">www.jhuapl.edu</a>.</span><br /><br /><a href="http://www.aramark.com/careers" target="_blank"><strong><span style="font-size: small; font-family: times new roman,times;">ARAMARK</span></strong></a><br /><br /><span style="font-size: small; font-family: times new roman,times;">ARAMARK is a global leader in professional services, providing award-winning food, hospitality,</span><br /><span style="font-size: small; font-family: times new roman,times;">facility management services and high-quality uniform and work apparel. Industries served include: Businesses, Universities, Healthcare, Parks and Destinations, Sports and Entertainment, Correctional Institutions, Convention Centers, Public Safety, Senior Living, and Cultural Attractions.&nbsp; To learn about our employment opportunities, visit <a href="http://www.aramark.com/careers" target="_blank">www.aramark.com/careers</a>.</span><br /><br /><a href="http://www.argonst.com/careers/index.htm" target="_blank"><strong><span style="font-size: small; font-family: times new roman,times;">Argon ST</span></strong></a><br /><br /><span style="font-size: small; font-family: times new roman,times;">Argon ST, a Boeing Company, is a rapidly growing systems engineering and development company providing full-service C5ISR solutions to a wide range of customers. We offer excellent career opportunities and outstanding benefits to our valued employees. Core areas of competencies include: RF Technology, COMINT/SIGINT, Cyber Security.&nbsp; Active DoD security clearances are required. To learn about their employment opportunities, visit <a href="http://www.argonst.com/careers/index.htm" target="_blank">http://www.argonst.com/careers/index.htm</a>.</span><br /><br /><a href="http://www.chenegatechnology.com" target="_blank"><strong><span style="font-size: small; font-family: times new roman,times;">Chenega Technology Services Corporation</span></strong></a><br /><br /><span style="font-size: small; font-family: times new roman,times;">Chenega Technology Services Corporation is a growing and successful Alaska Native Company. Our work is diverse, ranging from government contracting to commercial holdings. In the government sector, Chenega provides a variety of services to support our country, to include Information technology, security, logistics, intelligence &amp; military operations, military base support services, training, environmental management and light manufacturing.To learn about their employment opportunities, visit <a href="http://www.chenegatechnology.com/section.aspx?id=5" target="_blank">www.chenegatechnology.com/section.aspx?id=5</a>.</span><br /><br /><a href="http://www.colcon.com/colcon/" target="_blank"><strong><span style="font-size: small; font-family: times new roman,times;">Collins Consulting</span></strong></a><br /><br /><span style="font-size: small; font-family: times new roman,times;">Collins Consulting, Inc., a certified Service-Disabled Veteran Owned Small Business, is a proven IT systems integrator and strategic sourcing provider bringing together the responsiveness of a small business coupled with the capabilities of some of the world's largest and most successful Federal Systems Integrators.Our mission is to provide superior-quality service and hardware solutions and to provide for financial and personal growth for all our employees while&nbsp; ensuring future growth.&nbsp; To learn about our employment opportunities, visit <a href="http://www.colcon.com/colcon/" target="_blank">http://www.colcon.com/colcon/ </a>and click on the Jobs tab. </span><br /><br /><a href="http://www.mpri.com" target="_blank"><strong><span style="font-size: small; font-family: times new roman,times;">L-3 MPRI</span></strong></a><br /><br /><span style="font-size: small; font-family: times new roman,times;">L-3 MPRI provides complete solutions, products, and technical assistance in the fields of national security, security sector reform, democratic development and governance, institutional capacity building, rule of law, peace and stability operations, law enforcement, leadership</span> <span style="font-size: small; font-family: times new roman,times;">development, and training simulations. Since 1987, MPRI has assisted customers in the United States and more than 60 countries around the world. Our programs are staffed with more than 5,000 highly skilled men and women whose professionalism, ethics, integrity, and commitment to quality ensure mission accomplishment. To submit your personal information, visit <a href="http://www.mpri.com" target="_blank">www.mpri.com</a>; click on the Careers/Job Listings link; and complete the Individual Information Form.</span><br /><br /><a href="http://www.mcri.com/careers/index.htm"><strong><span style="font-size: small; font-family: times new roman,times;">MCR</span></strong></a><br /><br /><span style="font-size: small; font-family: times new roman,times;">MCR, LLC, a premier provider of Integrated Program Management services to the federal government has delivered strategic planning, cost and schedule analysis, acquisition management, and program assessment solutions to help hundreds of government and commercial clients successfully manage their programs.To learn about our employment opportunities, visit <a href="http://www.mcri.com/careers/index.htm" target="_blank">www.mcri.com/careers/index.htm</a>.</span>
<p><strong>-------------------------------------------------------------------------------------------------------------<br /><span style="font-family: arial,helvetica,sans-serif; font-size: small;"><font color="#663300" size="2"><img style="float: right;" src="http://www.corporategray.com/cgo/CapitolBldg.jpg" alt="Capitol Building" width="136" height="83" /></font></span><br /><span style="font-family: arial,helvetica,sans-serif; font-size: small;"><strong>&nbsp;</strong></span><span style="font-size: small; font-family: times new roman,times;">FEDERAL EMPLOYMENT</span></strong><br /><br /><span style="font-size: small; font-family: times new roman,times;">USA Jobs ("Feds Hire Vets"): <a href="http://www.usajobs.gov/veterans.asp" target="_blank">http://www.usajobs.gov/veterans.asp</a></span><br /><br /><span style="font-size: small; font-family: times new roman,times;">Federal Agency Program Managers for Veteran Hiring: <a href="http://www.fedshirevets.gov/AgencyDirectory/index.aspx" target="_blank">http://www.fedshirevets.gov/AgencyDirectory/index.aspx</a></span><br /><br /><a href="http://www.dia.mil/careers/" target="_blank"><strong><span style="font-size: small; font-family: times new roman,times;">Defense Intelligence Agency</span></strong></a><br /><br /><span style="font-size: small; font-family: times new roman,times;">The Defense Intelligence Agency is a Department of Defense combat support agency and an important member of the United States Intelligence Community. DIA is a major producer and manager of foreign military intelligence. They provide military intelligence to warfighters, defense policymakers, and force planners in support of U.S. military planning and operations and weapon systems acquisition. DIA has immediate openings for Intelligence Officers, Analysts, and related occupational areas. To view their career opportunities, visit <a href="http://www.dia.mil/careers/" target="_blank">www.dia.mil/careers/</a>.</span><br /><br /><a href="http://www.NSA.gov/Careers"><strong><span style="font-size: small; font-family: times new roman,times;">National Security Agency</span></strong></a><br /><br /><span style="font-size: small; font-family: times new roman,times;">The National Security Agency (NSA) has exciting opportunities available for professionals in Computer Science, Computer/Electrical Engineering, Mathematics, Foreign Language, Intelligence Analysis, Cryptanalysis, Signals Analysis, and Business. At NSA, you can use your high-tech intelligence to advance research and solve challenges not found in the private sector. Visit <a href="http://www.NSA.gov/Careers" target="blank">www.NSA.gov/Careers</a> for more information and to apply online.</span><br /><br /><a href="http://www.jobs.nih.gov/" target="_blank"><strong><span style="font-size: small; font-family: times new roman,times;">National Institutes of Health</span></strong></a><br /><br /><span style="font-size: small; font-family: times new roman,times;">NIH is the nation&rsquo;s medical research agency&mdash;supporting scientific studies that turn discovery into health. Our mission is to seek fundamental knowledge about the nature and behavior of living systems and the application of that knowledge to enhance health, lengthen life, and reduce the burdens of illness and disability. To learn about our employment opportunities, visit <a href="http://www.jobs.nih.gov/" target="_blank">www.jobs.nih.gov/</a>. </span><br /><br /><a href="http://www.va.gov/jobs" target="_blank"><strong><span style="font-size: small; font-family: times new roman,times;">Department of Veterans Affairs</span></strong></a><br /><br /><span style="font-size: small; font-family: times new roman,times;">Everyday at VA we see the sacrifices that Veterans have made to defend the principles that make this country great. VA is trusted with the responsibility to honor the service of all Veterans and deliver on the promises of a grateful Nation. To learn about our employment opportunities, visit <a href="http://www.va.gov/jobs" target="_blank">www.va.gov/jobs</a>.</span></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td bgcolor="#660000">
<table border="0" cellpadding="7" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="right"><font color="#ffffff" face="Verdana, Arial, Helvetica, sans-serif" size="4"><a name="Corporate Gray Online"></a>Corporate Gray Online</font><img src="http://www.corporategray.com/cgo/bullet42.gif" target="blank" align="top" width="29" height="17" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td bgcolor="#996600">
<table style="width: 100%; background-color: #ffffcc;" align="right" border="0" cellpadding="7" cellspacing="0">
<tbody>
<tr>
<td style="text-align: center;">
<p> <font color="#663300" size="2"> 
                  <!-- Area 2 Content -->
                  <img style="float: right;" src="http://www.corporategray.com/cgo/CorpGrayLogo.jpg" alt="looping shapes" width="138" height="78" /></font>
</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><span style="font-size: small; font-family: times new roman,times;"><font color="#ffffcc" face="Verdana, Arial, sans-serif" size="2"><strong>&nbsp;</strong></font>To login, visit <a href="http://www.CorporateGray.com" target="_blank"><strong>www.CorporateGray.com</strong></a>
 and use Username: {Username} and your password.&nbsp; If you don't remember 
your password, you can generate a new one.</span><br /><br /><span style="font-family: times new roman,times; font-size: small;">You have not yet posted a resume to this account. To do so, click the "Post Resume" link on 
the menu bar and then upload your resume in any Microsoft Word format.While logged into your account, be sure to check the 
accuracy of the data fields.</span><br /><br /><span style="font-family: times new roman,times; font-size: small;">To
 search for job openings, click the "Search Jobs" link and then apply to
 those opportunities best matching your skills and interests. You will 
also find information on other resource links.</span><br /><br /><span style="font-family: times new roman,times; font-size: small;">If you want us to close your account, send email to <a href="mailto:CorporateGray1@gmail.com" target="_blank">CorporateGray1@gmail.com</a> with Subject: Deactivate My Account.</span><br /><br /><span style="font-family: times new roman,times; font-size: small;">Please
 feel free to forward this newsletter to other military veterans seeking
 civilian employment.&nbsp; Good luck in your job search!</span><br /><br /><span style="font-family: times new roman,times; font-size: small;">Competitive Edge Services Inc., Fairfax Station, VA 22039. All rights reserved.</span></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</body>
</html>