<% content_for :page_title  do %>
  Identify motivated skills
<% end %>

<% content_for :title_tag  do %>
  Identify motivated skills
<% end %>

<% content_for :meta_description  do %>
  What skills did you use in the military and how could you transfer those skills to the civilian workworld?  
<% end %>

<div class="static">
		<p>What skills did you use in the military and how could you transfer those skills to the civilian workworld?  To get your mind in gear, review past efficiency reports to see what you did and consider the skills that were involved in accomplishing the work.  To the extent possible, try to draw out the hard skills that will be more readily understandable by an employer.</p>

		<p>You may also want to use some web-based assessment tools to assist you, including:</p>

		<ul>
				<li><a href="http://www.CareerLab.com" target="_blank">Career Lab</a></li>
				<li><a href="http://www.self-directed-search.com" target="_blank">Self-Directed Search</a></li>
				<li><a href="http://www.PersonalityOnline.com" target="_blank">Personality Online</a></li>
				<li><a href="http://www.MasteryWorks.com" target="_blank">MasteryWorks</a></li>
				<li><a href="http://www.assessment.com" target="_blank">MAPP</a></li>
				<li><a href="http://www.PersonalityType.com" target="_blank">Personality Type</a></li>
		</ul>

</div>
