<%  content_for :page_title do %>
  Job Search Steps
<% end %>

<div class="static">
		<p>The diagram below examines the key elements in a successful job search. This 7-step process relates your past, present, and future. By moving your mouse over the individual steps, more information will be displayed.</p>

		<div width="100%" style="text-align: center">
				<img src="/images/job_search_steps.gif" usemap="#job_search_steps"/>
				<map name="job_search_steps">
						<area shape="rect" coords="238,99,323,160" href="/static/negotiate_salary_and_terms_of_employment"/>
						<area shape="rect" coords="203,160,323,215" href="/static/manage_job_interviews">
						<area shape="rect" coords="166,215,323,272" href="/static/conduct_informational_networking_interviews">
						<area shape="rect" coords="130,272,323,328" href="/static/produce_resumes_and_jobsearch_letters">
						<area shape="rect" coords="098,328,323,382" href="/static/research_individuals_organizations_communities_and_jobs">
						<area shape="rect" coords="063,383,323,439" href="/static/specify_a_job_career_objective">
						<area shape="rect" coords="024,439,323,506" href="/static/identify_motivated_skills_and_abilities">
				</map>
		</div>

</div>
