<% content_for :page_title do %>
		Jobs for Spouses
		<h4>By Janet Farley,  author of Jobs and the Military Spouse</h4>
<% end %>

<% content_for :title_tag do %>
		Jobs for Spouses
<% end %>

<% content_for :meta_description do %>
In a perfect world, finding a good job with excellent pay and benefits would be as simple as signing your name on an employment contact.  In the real world, however, its just not that easy.  Under the best of circumstances, finding a job is a full time job in itself.  Add the fact that you are a mobile military spouse to that equation and youll find yourself facing a worthy challenge indeed. It is, nevertheless, a challenge than can be conquered with the right tools and attitude.
<% end %>

<div class="static">
		<p>In a perfect world, finding a good job with excellent pay and benefits would be as simple as signing your name on an employment contact.  In the real world, however, its just not that easy.  Under the best of circumstances, finding a job is a full time job in itself.  Add the fact that you are a mobile military spouse to that equation and youll find yourself facing a worthy challenge indeed. It is, nevertheless, a challenge than can be conquered with the right tools and attitude.</p>

		<h2>The Right Tools</h2>
		<p>Armed with the right tools, youll find yourself employed before you know it.</p>

		<h3>Flexible Sales Pitch</h3>
		<p>You never know when the opportunity to promote yourself as a job candidate will arise, so be prepared! Have mentally at your disposal, a three to five minute sales pitch that doesnt sound like a sales pitch. In your spiel, be sure to mention:</p>

		<ul>
				<li>your qualifications</li>
				<li>your most relevant accomplishments</li>
				<li>any job required licenses or certifications </li>
				<li>a couple of value statements reveal something about you</li>
		</ul>

		<h3>The Secrets of a Great Resume</h3>

		<p>Everyone loves to write resumes, right???  Well, maybe not. It can be a less painful process if youre in on the not so mysterious secrets that accompany great resumes.</p>

		<ol type="1">
				<li>A great resume is written about you, not for you</li>
				<li>A great resume has a specific job objective and organized format from the start</li>
				<li>A great resume doesnt read like a job</li>
				<li>A great resume uses industry appropriate language and avoids pronouns</li>
				<li>A great resume is tailored to a specific field or job</li>
		</ol>

		<h3>Reality Check: The Strength of Being a Military Spouse</h3>

		<p>Revealing that you were a military spouse to a potential employer used to represent the career kiss of death.  Thankfully, times are changing.  Employers are realizing that mobile military spouses are no more mobile than their local workforce. They are also beginning to realize the amazing pool of talent that spouses can offer as well. The next time youre feeling professionally under-appreciated, remember that multiple jobs on your resume = rich and diverse work experience that employers can learn from and use in to promote the goals of their own organizations.</p>

		<h3>Have Job, Will Travel</h3>
		<p>Tired of starting over every time you have to move? Then, stop it and start taking your business with you wherever Uncle Sam sends you, if you are legally able to do so. Examples of portable careers include teaching, nursing, virtual assistance, writing or consulting in just about any field you can imagine.</p>

		<h3>Where the Jobs Are:</h3>

		<p>Lets face it. Some locations have better job opportunities than other ones. As you explore your own options, consider this short list of job ideas:</p>

		<ul>
				<li>Federal employment. Visit <a href="http://www.usajobs.gov">www.usajobs.gob</a> for  a list of openings.</li>
				<li>Morale, Welfare & Recreation positions; <a href="http://www.mwr.navy.mil">Navy's site</a></li>
				<li>Defense contracting</li>
				<li>Military spouse employment sites, including <a href="http://www.MSCCN.org">Military Spouse Corporate Career Network</a> and <a href="http://www.milspouse.org/Job/Jobs/EAP">Military Spouse Career Center</a></li>
				<li>Non-profit agencies</li>
				<ul>
						<li>Self-employment.
						<li>Volunteering.  You will not only be keeping your professional skills current, but you will be visible. Visibility can make all the difference in the world when jobs do open up and youre a known candidate.
				</ul></li>
		</ul>

</div>

