<% content_for :page_title do %>
		<h1>Manage Job Interviews</h1>
<% end %>


<div class="static">
		<p>All the work you have done up to this point has had one focus to get you to the job interview.  Before going on the job interview, read below:</p>

		<h2>Interview preparation</h2>

		<p><b><i>(1) Dress for success</i></b> &mdash; You never get a second chance to make a good first impression!  So it's important that you look your best when you go on interview. For men, we recommend a grey or navy blue, wool business suit, white cotton shirt,  classic tie, and leather shoes.  For the women, we recommend a conservative business suit with silk blouse, low-heel shoes, and a minimum of accoutrements.  Perhaps the best advice is to visit a well-known clothier and ask the sales person for their assistance in helping you build a professional wardrobe.</p>

		<p><b><i>(2) Questions and Answers</i></b> &mdash; In preparing for the interview, you should develop a list of questions that you think you'll be asked and another list of questions that you will want to ask the interviewer.  The questions you ask should leverage the research you've done in the company and talk to the roles and responsibilities associated with the position.  Questions about salary should be deferred until the end of the interview(s) as you first need to know as much as you can about what the position entails and the employer needs a thorough understand of your skills and experience and how they can best used to the company's advantage.</p>

		<p><b>Here are 10 difficult interview questions to get you started:</b></p>

		<ol type="a">
				<li>Tell me about yourself</li>
				<li>What are your three greatest strengths?  Weaknesses?</li>
				<li>What do you know about our company?</li>
				<li>Why would you want to work here?</li>
				<li>What about your background makes you a fit for this opportunity?</li>
				<li>What sets you apart from other candidates we're considering for this position?</li>
				<li>Where would you see yourself 5 years from now?  10 years from now?</li>
				<li>You've been working for the military in a service environment.  We're a for profit company; how are you going to make us more profitable?</li>
				<li>Tell me about an instance where you disagreed with the direction from your boss and how you handled it</li>
				<li>What are your salary requirements and what is it based on?</li>
		</ol>

		<p><b><i>(3) Telephone scripts</i></b></p>

		<p>It's very possible that the first interview will be by telephone.  Given the lack of a picture phone in all but a very few households, take advantage of the fact that the employer cannot see you and have a typed, double-spaced document that you can refer to for interview purposes.  And if you have more than one phone, make sure you have a copy of the document near each phone.</p>

		<h2>Handling Objections </h2>

		<p>When faced with an employer who is putting up roadblocks, it's important that you have a ready repertoire of responses that deflect the objections in a positive, professional manner.  This can be achieved in various ways.  For example:</p>

		<p><b>Objection #1:</b>  Military people are too rigid.  We operate in a fluid, action-packed environment.<br/>
				<b>Response #1:</b>  To survive in today's military, you must think quickly on your feet and be able to rapidly change your approach based on the circumstances.  </p>

		<p><b>Objective #2:</b>  Military personnel have their experience in the government, which is a service-oriented environment. We operate in a profit-loss environment.  How will I know you will thrive in our environment?<br/>
				<b>Response #2:</b> For the last several years, we have learned how to do more with less.  Given the constraint on the Government's budget yet the demands for us to do more, military personnel have become experts in efficiently and effectively accomplishing whatever objective is put before them.  For example (and give an example based on your personal experience).</p>

		<h2>Illegal Questions</h2>

		<p>Certain questions are illegal, though some employers ask them anyhow.  Examples include:</p>
		<ul>
				<li>Are you married / divorced / single?</li>
				<li>How old are you?</li>
				<li>What political organizations do you belong to?</li>
				<li>Do you have any disabilities?</li>
				<li>Have you ever been arrested?</li>
				<li>Do you have many debts?</li>
		</ul>

</div>