<% content_for :page_title do %>
		Negotiate salary and terms of employment
<% end %>

<% content_for :title_tag do %>
		Negotiate salary and terms of employment
<% end %>

<% content_for :meta_description do %>
The concept of salary negotiations is foreign to those in the military whose pay and allowances are directly tied to their military grade. As such, it is important that you do your homework to ensure that when the time comes to discuss compensation, you will be able to conduct negotiations in a professional, astute manner.
<% end %>

<div class="static">
		<p>The concept of salary negotiations is foreign to those in the military whose pay and allowances are directly tied to their military grade. As such, it is important that you do your homework to ensure that when the time comes to discuss compensation, you will be able to conduct negotiations in a professional, astute manner.</p>

		<h2>Defer salary issues to the very end</h2>

		<p>To the extent possible, issues of salary and other forms of compensation should be deferred until the end of the job search negotiations process as you need to know as much as possible regarding the requirements of the position and your responsibilities.  Similarly, from the employer side, they need to fully understand your background and how you will fit in before they can offer you a fair compensation. </p>

		<h2>Military vs civilian pay</h2>

		<p>Military pay differs from civilian pay most notably in what the civilian sector calls fringe benefits.  For example, military personnel can use the commissary and post/base exchange to purchase food items and other products at a discount.  Another example is "leave", or vacation as called in the private sector.  As you know, military personnel accrue 30 days of leave a year, which could include weekends depending on when it's taken.  In the private sector, most companies start new employees at 10 or 15 days vacation a year.  In addition, they will include Holidays and some combination of sick and personal days.  A significant financial advantage of being in the military is that one's housing allowance is not taxed, thus adding several hundred to thousands of dollars to monthly pay.  The concept of a housing allowance does not exist in the civilian sector.  And finally, if one serves at least 20 years in the military, you receive a monthly retirement check for life that increases annually based on cost-of-living increases.  In the private sector, the most typical retirement plan is a shared benefits plan, such as the 401K.</p>

		<h2>Salary negotiations</h2>

		<p>When the time arrives to discuss salary, you do not want to be the first person to "toss out" a number.  Instead, you want to parry a request for your salary range by asking the employer for the standard range at their company for that position (most companies will break up a position's salary bands into quarters so that there is room to grow financially within the pay band for that position).  If you are forced to give your salary requirements, do so by providing a range where the low number is the absolute minimum you would take and the high number is what you would ideally like to make.  Chances are, the end number will be somewhere in between.  And don't forget to consider the value of the fringe benefits. For in the final analysis, with fringe benefits, your total compensation that the employer will pay for your services is approximately 1.25 times your salary.</p>


		<h2>Renegotiation option</h2>

		<p>In the private sector, everything is negotiable.  Hence, if the salary you negotiate is good but not quite what you want, you might accept the offer but only if the employer agrees to a compensation review, tied to measurable goals, at the six-month mark.  Then, if you meet or exceed those goals, the employer agrees to pay you some pre-determined amount or adjust your salary to a higher amount.</p>
</div>
