<% content_for :page_title do %>
		<h1>Produce resumes and job search letters</h1>
<% end %>

<div class="static">
		<p>Resume types:  Chronological, Functional, Combined</p>

		<ol type="a">
				<li><b>Chronological</b> &mdash; provide a reverse chronological history of past assignments and achievements; best if you have had successive assignments in the same occupational area; preferred by most Defense contractors.</li>
				<li><b>Functional</b> &mdash; focus is on skills and competencies; do not provide work history; best for job seekers who are making a complete career change; most employers do not like this format.</li>
				<li><b>Combined</b> &mdash; combination of the Chronological and Functional resume; provides work history in reverse chronological order coupled with key skill areas; recommended for candidates with 10 or more years work experience.</li>
		</ol>

		<h2>Resume Do's and Don'ts</h2>
		<br/>
		<table class="blotter" style="line-height: 1.5em; " cellspacing="0" cellpadding="5px">
				<tr>
						<th>Resume Do's</th>
						<th>Resume Dont's</th>
				</tr>

				<tr><td>Include an employer-centered objective</td><td>Use military acronyms or abbreviations</td></tr>
				<tr><td>Focus on accomplishments</td><td>Make the resume cramped and crowded</td></tr>
				<tr><td>Use action verbs and the active voice</td><td>Use the passive voice</td></tr>
				<tr><td>Be direct, succinct, and expressive</td><td>Make statements you can't support</td></tr>
				<tr><td>Be neat, well organized, and professional</td><td>Overstating ones qualifications</td></tr>
				<tr><td>Use ample spacing and highlighting</td><td>Refer to yourself as 'I'</td></tr>
				<tr><td>Carefully check spelling and grammar</td><td>Use lengthy sentences and descriptions</td></tr>
				<tr><td>Communicate your strongest points first</td><td>Lack permanent contact information</td></tr>
				<tr><td>Seek outside reviews of your resume</td><td>Include salary information</td></tr>
				<tr><td>Continually refine and update</td><td>Include extraneous information</td></tr>
		</table>


		<h2>Electronic vs conventional resumes</h2>

		<p>We consider any submission of your resume in electronic form as an electronic resume.  This includes posting your resume on a companys (or 3rd party vendor's) website, as well as sending your resume as an e-mail attachment.  Generally, when one submits their resume in electronic form, the following rules apply:</p>

		<ul>
				<li>The basic components of the resume will stay the same</li>
				<li>Use nouns instead of action verbs</li>
				<li>Use a plain text font, such as Arial</li>
				<li>Make the resume font size 12 point</li>
				<li>Include a section on Keywords appropriate for your industry area</li>
				<li>Left justify the text, as electronic documents are prone to losing formatting</li>
				<li>Send your electronic resume to a friend to see how it comes across electronically</li>
		</ul>

</div>