<% content_for :page_title do %>
<h1>Research Individuals, Organizations, and Jobs</h1>
<% end %>

<div class="static">
<ul>
	<li>Research individuals ...   <a target="_blank" href="http://www.hoovers.com/free/tools/bel/">Hoovers / find people</a></li>
	<li>Research organizations ... <a target="_blank" href="http://www.hoovers.com/free/tools/bcl/"> Hoovers / research companies</a></li>
	<li>Research communities: <a target="_blank" href="http://www.citysearch.com">City Search</a> and <a target="_blank" href="http://www.usacitylink.com ">USA CityLink</a></li>
	<li>Research types of jobs:  <a target="_blank" href="http://www.bls.gov/oco">The Occupational Outlook Handbook</a> and <a target="_blank" href="http://www.onetcenter.org">The O*NET Dictionary of Occupational Titles</a></li>
</ul>
</div>
