<% content_for :page_title do %>
		Security Clearances
<% end %>


<div class="static">
		<ol type="1">
				<li><b><i>What is a security clearance?</i></b> A determination by the U.S. government that an individual (must be a U.S. citizen) is eligible for access to classified information.

				<li><b><i>How does one get a security clearance?</i></b> You would need to be sponsored by a company or organization that is performing work on behalf of the U.S. Government and your position requires a need to know for you to do your work.  It is the sponsoring organization that initiates the security clearance process. </li>

				<li><b><i>What are the steps involved in getting a clearance?</i></b>

						<ol type="a">
								<li><b>Application process</b><br/>Requires verification that you are a U.S. citizen, that you be fingerprinted, and that you complete a Personnel Security Questionnaire (a government form called an SF-86).</li>
								<li><b>Background check</b><br/>The U.S. Office of Personnel Management would perform a background investigation, involving checks of local and national crime databases, financial credit checks, and field interviews with people who know you and can verify your honesty, loyalty, emotional and financial stability, reliability, and overall trust worthiness.</li>
								<li><b>Adjudication</b><br/>A representative of the Department of Defense would need to adjudicate (decide) based on the investigative process whether you should be granted or denied the security clearance.</li>
						</ol><br/>
				</li>

				<li><b><i>How long does the security clearance process take?</i></b> Depending on various factors, it can take from a few weeks to over 2 years.</li>

				<li><b><i>What are the different security clearance levels?</i></b>

						<ul>
								<li><b>Confidential:</b> The lowest security clearance level.  Requires renewal and a periodic reinvestigation every 15 years.  The unauthorized disclosure or loss of material at this level could reasonably be expected to cause damage to national security.</li>

								<li><b>Secret:</b> The second level security clearance.  Requires renewal and a periodic reinvestigation every 10 years.  The unauthorized disclosure or loss of material at this level could reasonably be expected to cause serious damage to national security.</li>

								<li><b>Top Secret:</b>  The highest level security clearance.  Requires renewal and a periodic reinvestigation every 5 years.  The unauthorized disclosure or loss of material at this level could reasonably be expected to cause serious damage to national security.</li>
						</ul><br/>
				</li>

				<li><b><i>What is a Special Access Program?</i></b>A Special Access Program (SAP) is a security program established under the provisions of Executive Order (EO) 12958 and approved by the Deputy Secretary of Defense to apply extraordinary security measures to protect extremely sensitive information." SAPs can be any classifications (i.e., there can be SECRET//SAP, TS//SAP, TS/SCI//SAP programs).</li>

				<li><b><i>How long is my security clearance good for?</i></b> Twenty-four (24) months.</li>

				<li><b><i>What is the difference between an active clearance and a current clearance?</i></b> If you are using the clearance in your present job, it is an active clearance.  If the clearance is not active but you held it within the past 24 months, it is a current clearance.</li>

				<li><b><i>What is a polygraph and when would I need take it?</i></b> A polygraph, better known as a lie detector test, is required for employment with or assignment to certain government agencies, including the National Security Agency and the Central Intelligence Agency.  There are three types of polygraphs  Counter Intelligence (CI), Lifestyle, and Full Scope.  The CI polygraph asks questions limited to the subjects allegiance to the United States.  The Lifestyle polygraph asks more personal questions designed to solicit information about your conduct and present and past behavior.  A Full Scope polygraph combines the CI and Lifestyle polygraphs.</li>

				<li><b><i>Where can I find jobs that require a security clearance?</i></b> There are numerous Internet employment sites</li>
		</ol>
</div>
