<% content_for :page_title do %>
  Specify a Job / Career Objective
<% end %>

<% content_for :title_tag do %>
  Specify a Job / Career Objective
<% end %>

<% content_for :meta_description do %>
 Remember, that employer wants to know how your skills and military experience would benefit them in terms of providing a product or service to their clients.  What do you bring to the table that will help them do it better, faster and cheaper?. >Here are some tests you should find useful in formulating a job or career objective consistent with your skills, interests, and abilities
 <% end %>

<div class="static">
		<p>A job or career objective is a statement about what you want to do in the military.  The prospective employer needs to know what you would like to do.  Its not satisfactory to say that youre a jack of all trades and can do anything put in front of you.  They will want to see that you have carefully thought through and can clearly state what you want to do.  Depending on the context, you will also want to make that objective employer-centered.  Remember, that employer wants to know how your skills and military experience would benefit them in terms of providing a product or service to their clients.  What do you bring to the table that will help them do it better, faster and cheaper?</p>

		<p>Here are some tests you should find useful in formulating a job or career objective consistent with your skills, interests, and abilities.  </p>

		<p>
				<b>Strong Interest Inventory</b><br/>
				<br/>
				<b>Myers-Briggs Type Indicator</b><br/>
				<br/>
				<b>Career Assessment Inventory</b><br/>
				<br/>
				<b>ISEEK Skills Assessment</b><br/>
				<br/>
				<b>Vocational Preference Inventory</b>
		</p>

		<p>Information on all of these assessment tests can be found through <a href="http://www.iseek.org/sv/81002.jsp" target="_blank" >www.iseek.org/sv/81002.jsp</a></p>

</div>
