<% content_for :page_title do %>
  Contact Us
<% end %>

<% content_for :title_tag do %>
  Contact Information
<% end %>

<% content_for :meta_description do %>
  Contact Information
<% end %>

<div class="static" style="height: 500px;">
  <ul>
    <li><b>Phone:</b> (703) 690-6381</li>
    <li><b>Fax:</b> (703) 690-1687</li>
    <li><b>Email:</b> <a href="mailto:Carl@CorporateGray.com">Carl@CorporateGray.com</a></li>
  </ul>
</div>
