<% content_for :page_title do %>
		Military Demographics
<% end %>

<div class="static">
		<p>
				The Number of military servicemen leaving active duty annually amounts to 250,000; of these, approximately 40,000 are Officers and 210,000 are Enlisted/Non Commissioned Officers.</p>

		<h3>1. Branch of Service</h3>

		<p>
				Army: 105,000<br/>
				Navy:  60,000<br/>
				Marine Corps: 28,000<br/>
				Coast Guard: 5,000<br/>
				Air Force: 52,000
		</p>

		<h3>2. Gender</h3>

		<p>
				Male:     85%<br/>
				Female: 15%
		</p>

		<h3>3.  Diversity</h3>

		<p>
				White:      64%<br/>
				Black:      22% <br/>
				Hispanic:   9%<br/>
				Asian:        3%<br/>
				Other:        2%
		</p>

		<h3>4.  Education</h3>

		<p>
				High school diploma / GED:  96%<br/>
				Bachelors degree or higher:  30%
		</p>

		<h3>5.  Age</h3>

		<p>
				Under 25: 45%<br/>
				25 to 34:   31%<br/>
				35 to 49:   23%<br/>
				50 & over:   1%
		</p>

		<h3>6. Marital Status</h3>

		<p>
				Married: 55%<br/>
				Single:   45%
		</p>

</div>