<% content_for :page_title do %>
		Top 10 Reasons to Hire Military Personnel
<% end %>

<% content_for :title_tag do %>
		Top 10 Reasons to Hire Military Personnel
<% end %>

<div class="static">
		<ol>
				<li><b>Integrity</b> &mdash; will do the right thing when no one is watching</li>
				<li><b>Leadership</b> &mdash; experienced leading others to accomplish common goals</li>
				<li><b>Disciplined</b> &mdash; know and follow the rules</li>
				<li><b>Educated</b> &mdash; Education level will vary from High School diplomas to Ph.Ds</li>
				<li><b>Trained</b> &mdash; have honed their skills in a specialty area</li>
				<li><b>Diversity</b> &mdash; experienced working with individuals from all walks of life</li>
				<li><b>Teamwork</b> &mdash; used to working with others to achieve mission success</li>
				<li><b>Security Clearance</b> &mdash; many have a security clearance because of the requirements of their military assignments; a clearance is good for 24 months following military separation/retirement</li>
				<li><b>Paid Relocation</b> &mdash; If it's the persons final move off active duty, the Government will pay the relocation expenses equivalent to where s/he entered the military</li>
				<li><b>Loyal</b> &mdash; have served our country and defended the freedoms enjoyed by all Americans</li>
		</ol>
</div>
