<div class="<%=field_type%>">
  <span class="field_label">
    <%= label %>
  </span>
  <span class="form_field">
    <%= element %>
    <div class="form_error_message">
      <span style="font-style: normal;">&uarr;&nbsp;</span><%= error.capitalize %>
    </div>
  </span>
</div>
