<div class="<%=field_type%>">
    
    <% unless label.to_s.blank? %>
      <span class="field_label" %>
          <%= label %>
      </span>
    <% end %>
    <span class="form_field">
    	<%= element %>
    </span>
</div>
