<div class="<%=field_type%>">

    <span class="form_field" style="clear:none; margin-right:1em;">
    	<%= element %>
    </span>
    
    <span class="field_label" style="clear:none; width:auto;">
    	<%= label %>
    </span>
</div>

