<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	
  <head>
    <title>Thank Your</title>

    <style>
      body {
        font-family: Arial, Tahoma, "Sans Serif"
      }

    </style>

  </head>

  <body>
    <h1>Thank You</h1>

    <p>Your registration form was received; You will be contacted soon to finish your registration</p>
    <p>The CGO Team</p>

  </body>
</html>

