<h2>Registration fee includes:</h2>

<ul class="perks" >
  <li >Pipe-and-drape booth space with 6' draped table, 2 chairs, and company sign</li>
  <li>Early and indefinite search access to the resumes aligned with the job fair</li>
  <li>Unlimited, self-posted jobs for 1 month</li>
  <li>Extensive promotion of the job fair in print and online</li>
  <li>Your company listed on the job fair page with link to your company profile and website</li>
  <li>Coffee / tea / bagels during company setup</li>
  <li>Listing in the Job Fair Employer Directory</li>
  <li>Complimentary photocopy service</li>
  <li>Complimentary parking</li>
  <li>Use of the Employer lounge</li>
  <li><b>Ability to hire as many candidates as you would like at no additional fee</b></li>
</ul>


<style>
  ul.perks li {
    list-style: disc inside; 
    margin-top: 5px;
  }
</style>
