<div style="margin:8px">
		<p><b>Per month:</b> $500 to search the resume database and post all of your jobs</p>
		<ul>
				<li>Includes one hour of customized support from a Corporate Gray Online representative.</li>
				<li>15% discount for a contract of 2 or more months.</li>
		</ul>

		<p><b>1 year:</b> $5,000 to search the resume database and post all of your jobs</p>
		<ul>
				<li>Includes one hour of customized support for each month purchased.</li>
		</ul>
		<p><i>Note: The above rates are ad agency commissionable at 15%.</i></p>
		<h3>Job Wrapping Service</h3>
        <p>We'll do a daily scrape of all the jobs on your website at a cost of $500/month. Three-month minimum. Requires no work at your end!</p>
		<br/>
</div>
