<% content_for :page_title do %>
				Welcome to Corporate Gray Online
<% end %>

<p>Your account is now active. Please proceed to <%= link_to "login", new_session_path -%>.</p>

<br/><br/>

Thank You,<br/>

The Corporate Gray Team