<% content_for :page_title do %>
  Password Reminder
<% end %>

<div style="width: 420px; margin-left: auto; margin-right: auto; font-family: Arial">
  <div style="font-size: 18px; line-height: 1.3em; color: #4c4c4c; width: 400px">
  Please enter your email or username and we will re-send your password to the email account on file:
  </div>
  <%= form_tag password_reminder_sessions_path, :method => :get, :id => "password_reminder_form" do %>
    <%= text_field_tag :username, nil, :style=>"margin-top:1em; width: 95%; border: 1px solid #CCC; font-size: 18px; font-weight: bold; padding: 0.5em;" -%>

    <div style="margin-top: 15px; margin-left: 0px; text-align: right;">
      <%= link_to "Recover Password", "#", :class => "xbutton blue", :style => "font-size: 14px; padding: 0.75em;", :onclick => "$('password_reminder_form').submit(); return false;" %>
    </div>
  <% end %>
</div>
<br/>
<hr/>
